body {
  background-color: #EDEDED;
  color: #2C393F;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  line-height: 33px;
  font-style: italic;
}

figcaption {
  font-size: 10px;
  line-height: 15px;
  font-family: sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a:link { color:#00C7C7; } /* unvisited */
a:visited { color:#00C7C7; } /* visited */
a:hover { color:#FFFFFF; } /* mouse over */
a:active { color:#FFFFFF; } /* selected */

a {
  text-decoration: none;
}
